.form {
    margin: 0 auto;
    max-width: 35rem;
    border: var(--border);
    font-size: 1.2rem;
    background-color: var(--background-color);
    box-shadow: 0.7rem 0.7rem 0.03rem -0.2rem var(--accent-color);
}

.form__container {
    padding: 2rem 1.5rem 1.5rem 1.5rem;
}

.form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.form__label {
    margin-bottom: 0.5rem;
}

.form__field {
    outline: none;
    border: none;
    border-bottom: 4px solid #fff;
    font-size: inherit;
    font-family: inherit;
    padding: 0.65rem 0.45rem;
    background-color: var(--background-color);
}

.form__field:focus {
    border-bottom: var(--border);
}

.button--form {
    border: none;
    margin: 2rem 0 0 auto;
    padding: 0.7rem 2.5rem;
    background-color: var(--background-color);
}

.button--form:hover {
    background-color: var(--background-color-hover);
}

.form__small {
    font-size: 0.83rem;
    color: var(--text-muted);
}

.form__link {
    text-decoration: none;
    color: var(--accent-colour);
}

.form__link:hover {
    color: #d05656;
}


.form__error {
    margin-top: 0.5rem;
}

.form__error,
.form__flash {
    display: block;
    padding: 0.5rem;
    color: var(--text);
}

.form__error,
.form__flash--danger {
    background-color: var(--accent-color);
}

.form__flash {
    margin-top: 0.5rem;
}

.form__flash--success {
    background-color: var(--accent-color-2);
}

/* Following media queries allow for more padding inside the form as the window size increases */
@media screen and (max-width:500px) {
    .form {
        padding: 0 1rem;
    }
}

@media screen and (min-width:24.75em) {
    .form__container {
        padding-left: 2rem;
    }
}

@media screen and (min-width:30em) {
    .form__container {
        padding-left: 2.5rem;
    }
}